@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.fadeIn {
    animation: fadeIn 1s ease forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Fade in while sliding up */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 3s steps(40) infinite;
  }
  